<p class="text-center text-muted">&copy; Copyright 2020 WebersZone</p>

<!-- User MODAL Starts -->
<div class="popup-position" id="user-popup" style="display:none;">
    <% include ../partials/modal %>
</div>
<!-- User MODAL Ends -->
