<div class="popup-wrapper">
    <div id="popup-container">
        <h5>Provide Your Details</h5>
        <form method="post" action="" id="saveuser">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" minlength="5" class="form-control" id="uname" required>
            </div>
            <!-- <div class="form-group">
                <label for="email">Email</label>
                <input type="email" minlength="10" class="form-control" id="uemail" required>
            </div>                     -->
            <div class="modal-footer">
                <button class="btn btn-primary btn-block">Submit</button>
                <!-- <p><a herf="javascript:void(0)" onclick="toggle_visibility('user-popup');">Close Popup</a></p> -->
            </div>
        </form> 
    </div>
</div>