<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body class="container">

	<header>
		<% include ../partials/header %>
	</header>
	
	<main>
		<div class="main-container">
			<a href="/logout" class="btn btn-primary pull-right">Logout</a>	
			<hr>
			<h1><span id="countdown"></span></h1>
			<p><strong>NOTE:- </strong>The Click button will appear for 10 seconds only and you have to click on that buttom as much as fast you can click.</p>				
		</div>
	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>
	
</body>
</html>