<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body class="container">

	<header>
		<% include ../partials/header %>
	</header>
	
	<main>
		<div class="main-container">
			<a href="/logout" class="btn btn-primary pull-right">Logout</a>	
			<hr>			
			<div id="clickbox">
				<div id="countdown1"></div>			
				<button class="btn btn-primary" onclick="addmyclicks()" id="clickmybtn">Click Me</div>
				<p>No Of Clicks:- <span id="noofclicks">0</span></p>		
			</div>	
		</div>
	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>
	
</body>
</html>